.mainContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.mainContentLeft {
  /* border: 1px solid red; */
}

.mainContentRight {
  /* border: 1px solid green; */
}
